/*
nav{
    padding: 2em;
}

.nav-right a{
    padding: 1em;


}
*/

body{
  margin: 1em;
}

img {
  max-width: 75%;
}

.nav {
    display: flex;
    padding: 2em 0em 3em 0em;
/*    padding: 1em 3em 3em 2em;*/
}

.nav-link a{
	padding-left: 1em;
    padding-right: 2em;
	text-decoration: none;
    color: slategrey;
/*    font-size: 0.8em;*/
    
}

.nav-items {
  display: flex;
}

.nav-items a{
    text-decoration: none;
    
    
}

.nav-right {
/*	padding-top: 1rem;*/
	margin-left:auto;
    display: flex;
/*    text-align: right;*/
}



.logo{
	max-width: 4em;
	max-height: 4em;
}

.links a{
    text-decoration: none;
    color: slategray;
    font-size: 1rem;
    padding-left: 4.5em;
}

#selfie{
    max-width: 10em;
}

h6{
    font-weight: bold;
    padding: 0rem;
    margin: 1em 0em 0em 0em;
}

h6 a{
    text-decoration: none;
}

.research a{
    text-decoration: none;
}

.citation{
    font-size: 1.2rem;
}

p{
    margin-bottom: 0.5em;
}

projects{
    text-align:center;
}

.footer{
    flex-shrink: 0;
}